name: Publish Update

on:
  push:
    branches:
      - master
    #tags:
    #  - 'v*.*.*'

jobs:

  docs:
    name: Publish Documentation
    permissions:
      contents: write

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Dependencies
        run: sudo apt-get -y install mkdocs

      - name: Deploy Site
        run: mkdocs gh-deploy -f .mkdocs.yml --force
